# Cocos2d-x folders and files
cocos2d/
proj.android/
proj.ios_mac/
proj.linux/
proj.win32/
proj.wp8-xaml/
publish/
.cocos-project.json
CMakeLists.txt

# Ignored backup files
*.bak

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

