<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game resources/bg.png</key>
			<dict>
				<key>width</key>
				<integer>316</integer>
				<key>height</key>
				<integer>251</integer>
				<key>originalWidth</key>
				<integer>316</integer>
				<key>originalHeight</key>
				<integer>251</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>frame.png</key>
			<dict>
				<key>width</key>
				<integer>203</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>203</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>253</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>game resources/Back-btn.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>299</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>game resources/Menu-btn.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>318</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>game resources/Easy.png</key>
			<dict>
				<key>width</key>
				<integer>210</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>210</integer>
				<key>originalHeight</key>
				<integer>69</integer>
				<key>x</key>
				<integer>71</integer>
				<key>y</key>
				<integer>299</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>game resources/Medium-btn.png</key>
			<dict>
				<key>width</key>
				<integer>210</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>210</integer>
				<key>originalHeight</key>
				<integer>69</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>372</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>game resources/Hard-btn.png</key>
			<dict>
				<key>width</key>
				<integer>210</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>210</integer>
				<key>originalHeight</key>
				<integer>69</integer>
				<key>x</key>
				<integer>283</integer>
				<key>y</key>
				<integer>253</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>touxiang.png</key>
			<dict>
				<key>width</key>
				<integer>126</integer>
				<key>height</key>
				<integer>146</integer>
				<key>originalWidth</key>
				<integer>126</integer>
				<key>originalHeight</key>
				<integer>146</integer>
				<key>x</key>
				<integer>318</integer>
				<key>y</key>
				<integer>73</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>game resources/Level-progress.png</key>
			<dict>
				<key>width</key>
				<integer>666</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>666</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>443</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>touxiang2.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>112</integer>
				<key>x</key>
				<integer>446</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>game resources/Loading.png</key>
			<dict>
				<key>width</key>
				<integer>489</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>489</integer>
				<key>originalHeight</key>
				<integer>47</integer>
				<key>x</key>
				<integer>446</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>worn.png</key>
			<dict>
				<key>width</key>
				<integer>93</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>93</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>544</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>home.png</key>
			<dict>
				<key>width</key>
				<integer>960</integer>
				<key>height</key>
				<integer>640</integer>
				<key>originalWidth</key>
				<integer>960</integer>
				<key>originalHeight</key>
				<integer>640</integer>
				<key>x</key>
				<integer>937</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>单人模式.png</key>
			<dict>
				<key>width</key>
				<integer>191</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>191</integer>
				<key>originalHeight</key>
				<integer>132</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>496</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>双人模式.png</key>
			<dict>
				<key>width</key>
				<integer>174</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>174</integer>
				<key>originalHeight</key>
				<integer>108</integer>
				<key>x</key>
				<integer>283</integer>
				<key>y</key>
				<integer>324</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>帮助模式.png</key>
			<dict>
				<key>width</key>
				<integer>174</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>174</integer>
				<key>originalHeight</key>
				<integer>108</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>630</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>helppaint.png</key>
			<dict>
				<key>width</key>
				<integer>960</integer>
				<key>height</key>
				<integer>640</integer>
				<key>originalWidth</key>
				<integer>960</integer>
				<key>originalHeight</key>
				<integer>640</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>740</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Back_btn.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>446</integer>
				<key>y</key>
				<integer>163</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>blue.png</key>
			<dict>
				<key>width</key>
				<integer>960</integer>
				<key>height</key>
				<integer>640</integer>
				<key>originalWidth</key>
				<integer>960</integer>
				<key>originalHeight</key>
				<integer>640</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1382</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>地图1.png</key>
			<dict>
				<key>width</key>
				<integer>381</integer>
				<key>height</key>
				<integer>246</integer>
				<key>originalWidth</key>
				<integer>381</integer>
				<key>originalHeight</key>
				<integer>246</integer>
				<key>x</key>
				<integer>517</integer>
				<key>y</key>
				<integer>163</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>地图二.png</key>
			<dict>
				<key>width</key>
				<integer>369</integer>
				<key>height</key>
				<integer>231</integer>
				<key>originalWidth</key>
				<integer>369</integer>
				<key>originalHeight</key>
				<integer>231</integer>
				<key>x</key>
				<integer>193</integer>
				<key>y</key>
				<integer>496</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>地图三.png</key>
			<dict>
				<key>width</key>
				<integer>369</integer>
				<key>height</key>
				<integer>231</integer>
				<key>originalWidth</key>
				<integer>369</integer>
				<key>originalHeight</key>
				<integer>231</integer>
				<key>x</key>
				<integer>564</integer>
				<key>y</key>
				<integer>496</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>地图四.png</key>
			<dict>
				<key>width</key>
				<integer>369</integer>
				<key>height</key>
				<integer>231</integer>
				<key>originalWidth</key>
				<integer>369</integer>
				<key>originalHeight</key>
				<integer>231</integer>
				<key>x</key>
				<integer>962</integer>
				<key>y</key>
				<integer>642</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>OnlineUI1project0.png</string>
			<key>realTextureFileName</key>
			<string>OnlineUI1project0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>